In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv( "./data/dataR3000/all_short_interest_raw.csv" )

In [3]:
df = df_raw[[
    "date",                       
    "symbolCode",                  
    "daysToCoverQuantity",         
    "currentShortPositionQuantity",
    "averageDailyVolumeQuantity" 
]].copy()

In [4]:
df.rename(columns={
    "symbolCode": "ticker",
    "daysToCoverQuantity": "d2c",
    "currentShortPositionQuantity": "shorts",
    "averageDailyVolumeQuantity": "volume"
}, inplace=True)

In [5]:
df

              date ticker    d2c    shorts    volume
0       2025-09-15      A   1.66   3204313   1934505
1       2025-09-15     AA   1.59  10436592   6581132
2       2025-09-15    AAL   1.00  72107910  88082868
3       2025-09-15   AAOI   2.39  12200411   5101161
4       2025-09-15   AAON   6.31   5935170    940702
...            ...    ...    ...       ...       ...
597124  2017-12-29   ZNGA   1.77  12200625   6908904
597125  2017-12-29    ZTS   5.08   6933412   1365118
597126  2017-12-29   ZUMZ  10.13   2522939    249134
597127  2017-12-29   ZYME   3.49     39464     11309
597128  2017-12-29   ZYXI   1.00      8375     47306

[597129 rows x 5 columns]

In [6]:
df["date"] = pd.to_datetime(df["date"])
df = df.sort_values(["ticker", "date"]).reset_index(drop=True)

In [7]:
df.to_csv("./data/dataR3000/all_short_interest.csv", index=False)