In [1]:
import pandas as pd

In [2]:
df = pd.read_csv( "./data/MS50/wiki_views_D.csv" )
print( len( df["ticker"].unique().tolist() ) )

23

In [2]:
INDEX = "MS50"
df_raw = pd.read_csv( f"./data/{INDEX}/short_interest_raw.csv" )

In [3]:
df = df_raw[[
    "date",                       
    "symbolCode",                  
    "daysToCoverQuantity",         
    "currentShortPositionQuantity",
    "averageDailyVolumeQuantity" 
]].copy()

In [4]:
df.rename(columns={
    "symbolCode": "ticker",
    "daysToCoverQuantity": "d2c",
    "currentShortPositionQuantity": "shorts",
    "averageDailyVolumeQuantity": "volume"
}, inplace=True)

In [5]:
df

            date ticker    d2c    shorts    volume
0     2025-09-15    AAL   1.00  72107910  88082868
1     2025-09-15    ACB   7.56   6568797    868561
2     2025-09-15     AG   1.00  22285144  24936132
3     2025-09-15    AMC   4.54  44807553   9876142
4     2025-09-15    AMD   1.00  41767201  44203062
...          ...    ...    ...       ...       ...
7203  2017-12-29    TGC   1.00     28862    109707
7204  2017-12-29     TR  74.62   4285843     57437
7205  2017-12-29   TRVG   7.81   6650734    851725
7206  2017-12-29   WKHS  19.76   2830016    143225
7207  2017-12-29    ZOM   1.00      6451     26175

[7208 rows x 5 columns]

In [6]:
df["date"] = pd.to_datetime(df["date"])
df = df.sort_values(["ticker", "date"]).reset_index(drop=True)

In [7]:
df.to_csv(f"./data/{INDEX}/short_interest.csv", index=False)