In [1]:
import pandas as pd

In [10]:
df = pd.read_csv( "./data/dataR3000/all_news.csv" )

In [17]:
df["date"] = pd.to_datetime(df["date"], errors="coerce")
df = df.dropna(subset=["date", "ticker"])

In [18]:
weekly = ( df.groupby( ["ticker", pd.Grouper(key="date", freq="W-SUN")] ).size().rename("news_count").reset_index() )

In [19]:
last_date = df["date"].max().normalize()
full_weeks = pd.date_range(start=pd.to_datetime("2020-01-01"), end=last_date, freq="W-SUN")

In [20]:
wide = weekly.pivot(index="date", columns="ticker", values="news_count")
wide = wide.reindex(full_weeks)
wide.index.name = "date"
wide = wide.rename_axis("ticker", axis=1)
wide = wide.fillna(0).astype("int64")

In [21]:
wide

ticker,AA,AAL,AAN,AAOI,AAP,ABCL,ABEO,ABR,ABSI,ABUS,...,ZION,ZIOP,ZIP,ZIXI,ZNTL,ZUO,ZVRA,ZWS,ZY,ZYME
date,,,,,,,,,,,,,,,,,,,,,
2020-01-05,1,7,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-12,0,11,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2020-01-19,1,10,0,0,0,0,3,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2020-01-26,0,26,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2020-02-02,1,15,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-09-14,1,4,0,1,0,1,0,3,2,0,...,1,0,1,0,1,0,0,1,0,0
2025-09-21,4,7,0,1,0,0,0,1,0,0,...,2,0,0,0,0,0,1,0,0,0
2025-09-28,2,6,0,0,1,0,0,3,0,0,...,0,0,0,0,0,0,1,0,0,0
2025-10-05,2,4,1,1,0,3,1,4,0,1,...,3,0,0,0,1,0,0,0,0,0
2025-10-12,1,8,0,0,3,2,1,2,0,1,...,0,0,0,0,0,0,1,0,0,2

In [22]:
out = (
        wide.stack(dropna=False)
            .rename("news_count")
            .reset_index()
            .rename(columns={"level_1": "ticker"})
            .sort_values(["ticker", "date"])
            .reset_index(drop=True)
    )

C:\Users\Lika44\AppData\Local\Temp\ipykernel_17748\3254923054.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  wide.stack(dropna=False)

In [24]:
weekly.to_csv( "./data/dataR3000/all_news_volume.csv" )