In [75]:
import pandas as pd

In [91]:
MS50 = pd.read_csv( "./data/MS50/merged_data.csv" )
R3000 = pd.read_csv( "./data/R3000/merged_data.csv" )

In [92]:
tickers = MS50["ticker"].unique().tolist()

In [93]:
len( tickers )

25

In [94]:
filtered = R3000[~R3000["ticker"].isin(tickers)].reset_index(drop=True)

In [100]:
len( MS50["ticker"].unique() )

25

In [99]:
filtered.to_csv( "./data/dataset_no-meme.csv", index=False )
MS50.to_csv( "./data/dataset_meme.csv", index=False )

In [89]:
MS50

,date,ticker,close,d2c,shorts,volume,trend_score,news_volume,wiki_views
0,2020-10-30,AAL,11.28,3.14,172765872,55107304,15.5,12,7010
1,2020-11-13,AAL,12.24,1.93,141817804,73589497,15.5,21,5491
2,2020-11-30,AAL,14.13,1.76,141848467,80739188,20.0,41,7820
3,2020-12-15,AAL,17.01,1.59,160823723,101002470,22.5,54,6571
4,2020-12-31,AAL,15.77,3.13,171336981,54682584,16.0,48,7490
...,...,...,...,...,...,...,...,...,...
2914,2025-07-15,TRVG,3.57,2.88,159234,55368,0.0,0,5634
2915,2025-07-31,TRVG,3.95,1.72,69521,40333,0.0,1,6107
2916,2025-08-15,TRVG,3.36,1.00,152033,167300,0.0,3,5017
2917,2025-08-29,TRVG,3.36,1.76,97608,55527,0.0,0,3665
2918,2025-09-15,TRVG,3.37,1.08,75512,69608,0.0,0,3309

In [88]:
len( filtered["ticker"].unique() )

25

In [86]:
mask_nonzero = MS50.groupby("ticker")["trend_score"].transform(lambda x: x.ne(0).any())
filtered = MS50[mask_nonzero]

In [90]:
filtered.to_csv( "./data/MS50/merged_data.csv", index=False )